@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*:not(pre) {
    box-sizing: border-box;
    font-size: 33px;
    font-family: "Roboto Slab", serif;

}

body {
    width: 100vw;
    height: 100vh;
    background: url('./img/pexels-fwstudio-33348-129731.jpg');
    background-size: cover;
  }

a {
    background-color: rgb(48, 93, 242);
    text-decoration: none╝;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    border: 1px black solid;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;

}

a:hover {
    background-color: rgb(109, 34, 250);
  }

a:visited, a.source-link {
    background-color: pink;
}

.main-header {
    font-size: 80px;
    background-color: rgb(9, 195, 12);
    border: 2px solid;
    border-radius: 6px;
    width: 500px;
    text-wrap: nowrap;
    margin:  0 auto;
}



.back {
    display: block;  
    text-wrap: nowrap;
    border: 2.5px solid black;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.source-link {
    border: 2.5px solid black;
    padding: 5px;
}


div {
    width: 1000px;
    margin: 0 auto;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.ingredients {
    display: inline-block;
}

.steps {
    display: inline-block;
}